# PROD docker compose script
services:
  klink-web:
    image: klink-web:2025.1
    container_name: klink-web
    build:
      context: ./klink-web
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    depends_on:
      klink-service: 
        condition: service_started
    # hardening
    security_opt:
      - "no-new-privileges=true"
    restart: on-failure:5
    cpus: '0.25'
    mem_limit: 128m

  klink-service:
    image: klink-service:2025.1
    container_name: klink-service
    build:
      context: .
      dockerfile: klink-rest/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      # will be added on coolify
      HOP_URL: ${HOP_BASE_PATH}
      APP_BASE_PATH: "https://klink.drbros.tech"
      JAVA_OPTS: >
        -Xms256m
        -Xmx256m
    # hardening
    security_opt:
      - "no-new-privileges=true"
    restart: on-failure:5
    cpus: '1'
    mem_limit: 512m

  db:
    container_name: klink-db
    image: "postgres:17-alpine"
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: klinkdb # create database named klinkdb
      POSTGRES_HOST_AUTH_METHOD: trust  # Disables password requirement
    volumes:
      - "pgdata:/var/lib/postgresql/data"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d klinkdb -U user" ]
      interval: 15s
      timeout: 60s
      retries: 5
